
@{
    ViewBag.Title = "Тест 5 - Автокомплит";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
  
}

<h1>@ViewBag.Title</h1>

<div class="static-container">
    <h3>Задача</h3>
    <ol>
        <li>
            Сделать автокомплит по свойству Name модели Employee. Выводить максимум 3 записи. Автокомплит работает с 1 символа.
    </ol>

    

</div>

@Html.Partial("_PartialTestsNavigation")

