
@{
    ViewBag.Title = "Тест 4 - Формирование JSON из БД на сервере и вывод в консоль";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
  
}

<h1>@ViewBag.Title</h1>

<div class="static-container">
    <h3>Задача</h3>
    <ol>
        <li>
            Создать метод в контроллере, формирующий json следующего формата из данных модели Employee:
            <pre>
[
    {id:1, name:"qwe"},                
    {id:2, name:"rty"}
]
</pre>
        </li>
        <li>написать метод на js. По нажаьтю на кнопку получать этот json с контроллера и выводить в консоль</li>
    </ol>
   

    <button class="btn btn-primary">Получить JSON</button>

    

</div>

@Html.Partial("_PartialTestsNavigation")

